services:
  - type: web
    name: recra-backend
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn ReCra.wsgi:application --timeout 120"
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.13
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
      - key: CORS_ALLOWED_ORIGINS
        sync: false
      - key: CSRF_TRUSTED_ORIGINS
        sync: false
